form {
	width: 200px;
	margin: 50px auto;
}
input {
	color: #f54949;
	border: 2px #f54949 solid;
}

.btn {
	cursor: pointer;
	margin: 10px 60px;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
	font-size: 22px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	display: inline-block;
}
.blue {
	color: #55acee;
	border: 2px #55acee solid;
	background-color: #fff;
}

.blue:hover {
	background-color: #55acee;
	color: #fff;
}

input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
}

.poke-card {
	position: relative;
	height: fit-content;
	font-family: "Roboto Mono", monospace;
	max-width: 300px;
	border-radius: 4px;
	color: #000;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	background-color: #fceff9;
	border: 1px solid black;
}

.poke-card::before {
	content: "";
	background: radial-gradient(black 33%, transparent 33%);
	background-size: 3px 3px;
	border-radius: 4px;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: -1;
}

.img-container {
	position: relative;
	width: 180px;
	margin: 10px auto;
}

.poke-stats div {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	padding: 5px;
	font-size: 18px;
}

.poke-types div {
	padding: 5px;
	margin: 5px;
	border-radius: 4px;
	border: 1px dashed black;
}

.poke-img {
	width: 180px;
	border-radius: 50%;
}
